<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Covid19 - Updates</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link href="/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </head>

  <body>
    <div class="container">
      <div id="">
        
      </div>

      <div class="footer">
        <a
          href="https://github.com/azkihidayatulloh/covid19-updates"
          target="__blank"
          >Source</a
        >
        <a href="https://github.com/mathdroid/covid19" target="__blank"
          >Reference</a
        >
      </div>
    </div>

    <script src="/script.js"></script>
  </body>
</html>
